<form class="box-content" name="ageCalculatorForm">
  Enter your Date of Birth: 
  <div class="row small-gap">
    <div class="col-md-2">
      <input type="number" class="form-control" ng-model="bod.date" custom-maxlength="2" name="Day" />
    </div>
    <div class="col-md-7">
      <select class="form-control" ng-model="bod.month" name="Month" required>
        <option value>Select month</option>
        <option ng-repeat="month in months" value="{{$index}}">{{month}}</option>
      </select>
    </div>
    <div class="col-md-3">
      <input type="number" class="form-control" ng-model="bod.year" custom-maxlength="4" name="Year"/>
    </div>
  </div>
  <br>
  Enter your Birth Time(hh24-min-ss):
  <time-of-birth hour="dob.hour" minute="dob.minute" second="dob.second"></time-of-birth>
  <br>
  Place of Birth:
  <div>
    <place-of-birth model="bod.place"></place-of-birth>
  </div>
  <br>
  <div class="text-center">
    <button ng-disabled="ageCalculatorForm.$invalid" class="btn btn-default" ng-click="calculate()">Calculate</button>
  </div>
</form>