<div id="login-page">
  <div class="overlay"></div>
  <div id="login-form">
    <h2 class="text-center">Login or <a ui-sref="home.register">Sign up</a></h2>
    <br>
    <div class="row">
      <div class="col-md-4">
        <a href="#" class="btn btn-social btn-lg btn-default btn-facebook" ng-click="loginFacebook()">Facebook</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-social btn-lg btn-default btn-facebook" ng-click="loginTwitter()">Twitter</a>
      </div>
      <div class="col-md-4">
        <a href="#" class="btn btn-social btn-lg btn-default btn-facebook" ng-click="loginGooglePlus()">Google+</a>
      </div>
    </div>

    <form name="loginForm" ng-submit="login()">
      <div class="input-group form-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="email" class="form-control" ng-model="user.email">
      </div>
      <div class="input-group form-group">
        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
        <input type="password" class="form-control" ng-model="user.password">
      </div>
      <div class="row">
        <div class="col-md-6">
          <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
        </div>
        <div class="col-md-6">
          <a class="btn btn-lg btn-info btn-block" ng-click="forgotPassword()">Forgot password</a>
        </div>
      </div>
    </form>
  </div>
</div>
