<h2 class="clearfix">
  MESSAGES
  <button class="btn btn-primary pull-right" ui-sref="home.admin.messages.new" ng-show="$root.profile.role=='USER'">Add New Message</button>
  <span class="pull-right">&nbsp;&nbsp;&nbsp;</span>
  <button class="btn btn-defalut pull-right" ng-class="{'btn-success': showClosed}" ng-click="toggleStatus()">Show closed</button>
</h2>
<div id="messages">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th class="text-left">Event Name</th>
        <th class="text-left">Message Body</th>
        <th class="text-left">Created At</th>
        <th class="text-left">Created By</th>
        <th class="text-left" ng-if="$root.profile.role == 'ADMIN'">Assigned To</th>
        <th style="text-align: center !important;">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="message in messages | orderBy: query.order">
        <td>
          <input type="checkbox" ng-model="message.selected" />
        </td>
        <td>
          {{message.type}}
        </td>
        <td>
          <a ui-sref="home.admin.messages.message({messageId: message.id})">{{message.content}}</a>
        </td>
        <td>
          {{message.createdAt | date:'yyyy-MM-dd'}}
        </td>
        <td>
          {{message.createdBy.firstName + ' ' + message.createdBy.lastName | notNull}}
        </td>
        <td ng-if="$root.profile.role == 'ADMIN'">
          <select ng-model="message.astrologerId" ng-change="updateMessage({'astrologerId': message.astrologerId || null}, message)">s
            <option value>Unassigned</option>
            <option ng-repeat="astrologer in astrologers" value="{{astrologer.id}}">{{astrologer.firstName + ' ' + astrologer.lastName | notNull}}</option>
          </select>
        </td>
        <td class="text-center">
          <span ng-if="$root.profile.role=='USER'">{{message.status}}</span>
          <select ng-model="message.status" ng-change="updateMessage({status: message.status}, message)" ng-if="$root.profile.role!='USER'">
            <option value="open">Open</option>
            <option value="closed">Closed</option>
          </select>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <li ng-class="{disabled: currentPage<1}"><a ng-click="currentPage>0 && changePage(currentPage-1)"><i class="fa fa-chevron-left"></i></a></li>
    <li ng-repeat="page in pages" ng-class="{active: currentPage == page}" ng-hide="currentPage < page-2 || currentPage > page+2"><a ng-click="changePage(page)">
    {{page+1}}</a></li>
    <li ng-class="{disabled: currentPage==pages.length-1}"><a ng-click="currentPage<pages.length-1 && changePage(currentPage+1)"><i class="fa fa-chevron-right"></i></a></li>
  </div>
</div>