<div ng-if="message.id != 0">
	<h2 class="clearfix" >
		<span ng-hide="message.id">New Message</span>
		<span class="pull-right">
			<button class="btn btn-info" ui-sref="^">Back</button>
			<button ng-show="message.id && message.status!='closed'" style="margin-left: 15px;" class="btn btn-danger" ng-click="closeMessage()">Close Message</button>
		</span>
	</h2>
	<br>
	<div>
		
	</div>
	<br>
	<form name="messageForm" ng-submit="createMessage()">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label>
						<span>Event name</span>
						<select ng-model="message.type" class="form-control" required ng-disabled="message.messageId">
							<option value>Select Event</option>
							<option ng-repeat="event in events" value="{{event}}">{{event}}</option>
						</select>
					</label>
				</div>
				<div class="form-group">
					<label>
						<span>Event place</span>
						<input class="form-control" name="eventPlace" ng-model="message.eventPlace" ng-disabled="message.messageId"/>
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label>
				<span>Message content</span>
				<textarea class="form-control" name="messageContent" ng-model="message.content" required ng-disabled="message.messageId"></textarea>
			</label>
		</div>
		
		<p class="text-center" ng-hide="message.messageId">
			<button class="btn btn-success" ng-disabled="messageForm.$invalid">SEND</button>
		</p>
	</form>
	<div ng-show="message.messageId">
		<!-- <div class="comments">
			<div class="comment" ng-repeat="comment in message.comments">
				<div class="author">{{comment.createdBy.firstName + ' ' + comment.createdBy.lastName}}</div>
				<div class="time-wrap">
					<i class="fa fa-circle-o"></i><br>
					<span class="time text-center">{{comment.createdAt | date: 'hh:mm'}}<br>{{comment.createdAt | date: 'yyyy-MM-dd'}}</span>
				</div>
				<div class="comment-content">
					{{comment.content}}
					<i ng-hide="message.status == 'closed'" class="fa fa-reply" ng-click="comment.replyOpened=!comment.replyOpened"></i>
					<div class="children">
						<div class="small" ng-repeat="child in comment.children">
							<strong class="text-blue">{{child.createdBy.firstName + ' ' + child.createdBy.lastName}}: </strong>
							{{child.content}}
						</div>
					</div>
					<div ng-show="comment.replyOpened && message.status=='open'">
						<div class="form-group">
							<textarea style="min-height: 60px;" ng-model="comment.replyContent" class="form-control"></textarea>
						</div>
						<div class="text-right form-group">
							<button class="btn btn-success" ng-click="addReply(comment);">Reply</button>
							<button class="btn btn-warning" ng-click="comment.replyOpened = false">Close</button>
						</div>
					</div>
				</div>
				<div class="line"></div>
			</div>
		</div> -->
		<div class="conversation">
			<div class="comment clearfix" ng-repeat="comment in message.comments" ng-class="{own: message.createdById == comment.createdById}">
				<div>
					<div class="author">
						<b class="text-blue">{{comment.createdBy.firstName + ' ' + comment.createdBy.lastName | notNull}}
						</b>
					</div>
					<div class="comment-content"><span>{{comment.content}}</span></div>
				</div>
			</div>
		</div>
		<form ng-hide="message.status=='closed'">
			<h3>Reply</h3>
			<div class="comment-form" ng-show="message.messageId">
				<textarea class="form-control" ng-model="newComment.content"></textarea>
				<br>
				<button class="btn btn-success" ng-click="addComment()" ng-disabled="!newComment.content">Reply</button>
			</div>
		</form>
	</div>

	<br><br>
</div>