<div id="profile-page">
  <h2>Edit User Profile</h2>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group form-group">
        <span class="input-group-addon">First name</span>
        <input type="text" class="form-control" ng-model="user.firstName" required>
      </div>
      <div class="input-group form-group">
        <span class="input-group-addon">Last name</span>
        <input type="text" class="form-control" ng-model="user.lastName" required>
      </div>
      <div class="input-group form-group">
        <span class="input-group-addon">Email</span>
        <input type="email" class="form-control" ng-model="user.email" required>
      </div>
      <div class="input-group form-group">
        <span class="input-group-addon">Day of Birth</span>
        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="user.dob" is-open="datepickerOpened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" ng-focus="datepickerOpened = true" ng-change="updateBOD()" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="datepickerOpened = true"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </div>
      <form>
        <input id="dobDay" type="hidden" name="Day" value="{{dob.day}}"/>
        <input id="dobMonth" type="hidden" name="Month" value="{{dob.month}}" />
        <input id="dobYear" type="hidden" name="Year" value="{{dob.year}}" />
        <div class="input-group form-group">
          <span class="input-group-addon">Time of Bitrh</span>
          <time-of-birth show-add-on="true" hour="tob.hour" minute="tob.minute" second="tob.second"></time-of-birth>
        </div>
        <div class="input-group form-group">
          <span class="input-group-addon">Place of Birth</span>
          <place-of-birth model="user.placeOfBirth"></place-of-birth>
        </div>
      </form>
      
      <div class="">
        <button class="btn btn-success" type="submit" ng-disabled="!user.firstName || !user.lastName || !user.email || !user.dob || !user.placeOfBirth || !tob.hour || !tob.minute || !tob.second" ng-click="updateProfile()">Update</button>
        &nbsp;
      </div>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="input-group form-group">
        <span class="input-group-addon">Old password</span>
        <input class="form-control" type="password" ng-model="pw.oldPassword" placeholder="*********" />
      </div>

      <div class="input-group form-group">
        <span class="input-group-addon">New password</span>
        <input class="form-control" type="password" ng-model="pw.newPassword" />
      </div>

      <div class="input-group form-group">
        <span class="input-group-addon">Confirm password</span>
        <input class="form-control" type="password" ng-model="pw.confirmPassword" />
      </div>
    </div>
  </div>
  <button class="btn btn-warning" ng-click="changePassword()" ng-disabled="!pw.newPassword || !pw.confirmPassword || !pw.oldPassword">Reset Password</button>
</div>