<div class="row small-gap">
  <div class="col-md-4">
    <div ng-class="{'input-group': showAddOn}">
      <input type="number" class="form-control" ng-model="hour" custom-maxlength="2" name="Hours"/>
      <span ng-show="showAddOn" class="input-group-addon" style="min-width: 34px;">hh</span>
    </div>
  </div>
  <div class="col-md-4">
    <div ng-class="{'input-group': showAddOn}">
      <input type="number" class="form-control" ng-model="minute" custom-maxlength="2" name="Minutes"/>
      <span ng-show="showAddOn" class="input-group-addon" style="min-width: 34px;">mm</span>
    </div>
  </div>
  <div class="col-md-4">
    <div ng-class="{'input-group': showAddOn}">
      <input type="number" class="form-control" ng-model="second" custom-maxlength="2" name="Seconds" style="border-right: 0"/>
      <span ng-show="showAddOn" class="input-group-addon" style="min-width: 34px; border-radius: 0 4px 4px 0">ss</span>
      <input type="hidden" name="ZoneHour" value="0" />
      <input type="hidden" name="ZoneMin" value="0" />
    </div>
  </div>
</div>